.corpoHome{
    background-color: #FFFFFF;
    width: 100%;
    height: 1100px;
}

.corpoHome img {
    width: 100%;
    height: 700px;
}

.corpo-texto {
    margin-top: 50px;
    background-color: #FFFFFF;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.corpo-texto h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.corpo-texto p {
    width: 1000px;
}