@{
    ViewData["Title"] = "Feedback";
}
<br />
<h2 class = "text-center">Feedback</h2>
<div class ="row">
    <div class= "col-12">
        <img style ="width: 50px; height: 50px; border-radios:50%" src="img/img-usuario.jpg" alt="">
            <h3 >Nome do Usuário</h3>
            <h5>00/00/0000</h5>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. 
                Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando 
                um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de 
                amostra de tipos. Ele sobreviveu não apenas.</p>
    </div> 
</div> <br />

<div class ="row">
    <div class= "col-12">
        <img style ="width: 50px; height: 50px; border-radios:50%" src="img/img-usuario.jpg" alt="">
            <h3 >Nome do Usuário</h3>
            <h5>00/00/0000</h5>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. 
                Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando 
                um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de 
                amostra de tipos. Ele sobreviveu não apenas.</p>
    </div> 

</div> <br />

<div class ="row">
    <div class= "col-12">
        <img style ="width: 50px; height: 50px; border-radios:50%" src="img/img-usuario.jpg" alt="">
            <h3 >Nome do Usuário</h3>
            <h5>00/00/0000</h5>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. 
                Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando 
                um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de 
                amostra de tipos. Ele sobreviveu não apenas.</p>
    </div> 

</div><br />

<div class ="row">
    <div class= "col-12">
        <img style ="width: 50px; height: 50px; border-radios:50%" src="img/img-usuario.jpg" alt="">
            <h3 >Nome do Usuário</h3>
            <h5>00/00/0000</h5>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. 
                Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando 
                um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de 
                amostra de tipos. Ele sobreviveu não apenas.</p>
    </div> 

</div>
<br /><br /><br />

<body> 
  <div class="container">
  <h2 class= "text-center"> Realizar Feedback</h2><br />

  <form class="form-inline" action="/action_page.php">
    <label for="nome"> Nome:</label>
    <input type="nome" class="form-control" id="nome" placeholder="Enter nome" name="nome"><br /> 
    <label for="data">Data:</label>
    <input type="data" class="form-control" id="data" placeholder="Enter data" name="data">
    <div class="form-check"> <br />
        <label for="desc">Descrição:</label>
    <input type="desc" class="form-control" id="desc" placeholder="Enter Descrição" name="desc">
    <div class="form-check"> <br />
    </div><br />
    <button type="submit" class="btn btn-primary" asp-area=" " asp-controller="Feedback" asp-action="Index">Enviar</button>

  </form>
</div>

</body>
 


 
