@{
    ViewData["Title"] = "Contato";
}

    <div class="container">
        <h2 class="text-center">Contatos</h2>
        <p style="text-align: center;">Faça seu orçamento</p>
        <form>
            <div class="form-group">
                <label for="usr">Nome:</label>
                <input type="text" class="form-control" id="usr" name="username">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder=" email" name="email">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="ck1">
                    <label class="custom-control-label" for="customCheck1">Notícias</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="ck2">
                    <label class="custom-control-label" for="customCheck2">Produtos</label>
                   </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="ck3">
                    <label class="custom-control-label" for="customCheck3">Reforços</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="ck4">
                    <label class="custom-control-label" for="customCheck4">Jogos Históricos</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck5" name="ck5">
                    <label class="custom-control-label" for="customCheck5">Promoções de Ingresso</label>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Fazer Envio</button>
           
        </form>
    </div>