@{
    ViewData["Title"] = "Login";
}
<body> 
  <div class="container">
  <h2 class= "text-center">Sessão para realizar login</h2><br />

  <form class="form-inline" action="/action_page.php">
    <label for="email"> Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br /> 
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    <div class="form-check"> <br />
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div><br />
    <button type="submit" class="btn btn-primary" asp-area=" " asp-controller="Cliente" asp-action="Index">Submit</button>

  </form>
</div>

</body>
 