@{
    ViewData["Title"] = "Home Page";
}
<body  style="background-image: url(img/foto-background.jpg); background-size: 100% 100%;">


    <h2 class = "text-center"> MVCAgencia De Viagem</h2> <br />
            <p class="text-justify">Trabalhamos como intermediária entre seus clientes e determinados prestadores de serviços turísticos
             (Empresas aéreas, hotéis, cruzeiros…), com o objetivo de vender produtos e serviços relacionados com
              essas viagens a um preço e com determinadas condições especialmente. Em primeiro lugar, o principal 
              fator considerado pelos turistas na hora de contratar uma agência é o quesito segurança e bem-estar. 
              Por isso, um dos serviços fornecidos são os guias que acompanham os turistas nos passeios. Além disso, 
              o destino e a rota são traçados para obter o melhor da viagem, sem se perder ou gastar tempo procurando o que visitar.</p>

</body>