.linha1 {
    display: flex;
    justify-content: space-around;
}

.corpoPacote {
    margin-top: 30px;
    background-color: #fbdd74;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: black;
}

.corpoPacote .button {
    width: 100px;
    padding: 10px 20px;
    align-self: center;
    background-color: brown;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
}

