.corpoLoginMaior {
    width: 100%;
    height: 900px;
    background-color: #1f1235;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpoLogin {
    background-color: brown;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
    color: white;
}

input {
    width: 450px;
    height: 45px;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 40px;
    font-size: 15px;
}

button {
    margin-left: 160px;
    padding: 15px 40px;
}

.corpoLogin a{
    margin-right: 380px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: white;
}
